.weather-app {
  background: linear-gradient(
    117.9deg,
    rgb(233, 247, 254) -3.5%,
    rgb(203, 221, 236) 53.8%,
    rgb(185, 218, 227) 100.4%
  );
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid rgb(11, 51, 71);
  border-radius: 10px;
}

.city-box {
  background-color: rgb(11, 51, 71);
  color: rgb(220, 240, 247);
  max-width: 500px;
  margin: 30px auto;
  padding: 15px 5px;
  border: 3px solid #dadde1;
  border-radius: 10px;
}

h1 {
  color: rgb(61, 84, 92);
  padding: 10px 0px;
  text-align: center;
  font-family: "Cerebri-Sans,Helvetica,Arial,sans-serif";
}

input {
  padding: 7px 12px;
  color: rgb(61, 84, 92);
  font-weight: bold;
  position: relative;
  text-align: center;
  font-family: "Cerebri-Sans,Helvetica,Arial,sans-serif";
}

#search-city {
  box-sizing: border-box;
  padding: 40px 10px;
  text-align: center;
  font-weight: 400px;
  color: rgb(52, 49, 49);
  font-family: "Cerebri-Sans,Helvetica,Arial,sans-serif";
}

.btn {
  font-size: large;
  font-weight: bold;
  background-color: rgb(238, 244, 247);
  border-radius: 10px;
  color: rgb(52, 49, 49);
  background: transparent;
  border-color: rgb(52, 49, 49);
}

.weatherDescription,
.todaysDate,
.gmt {
  text-align: center;
  font-weight: 00;
  padding: 1px;
  font-size: 20px;
  color: rgb(220, 240, 247);
  font-family: "Cerebri-Sans,Helvetica,Arial,sans-serif";
}

#current-temperature {
  text-align: center;
  font-size: 35px;
  color: rgb(220, 240, 247);
}

#city {
  text-align: center;
  font-weight: 00;
  padding: 10px;
  font-size: 40px;
  color: rgb(220, 240, 247);
  font-family: "Cerebri-Sans,Helvetica,Arial,sans-serif";
}

#celsiusFahrenheit,
.divide
{
  text-align: center;
  font-weight: 00;
  padding: 10px;
  font-size: 25px;
  color: rgb(220, 240, 247);
  font-family: "Cerebri-Sans,Helvetica,Arial,sans-serif";
}

#temperatures,
#weather-icon,
.icon {
  text-align: center;
}

.degrees {
  font-size: 50px;
}

.container {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
}

img,
.days,
.temp {
  color: rgb(61, 84, 92);
  width: 55px;
  display: block;
  margin: 0 auto;
  font-size: 10px;
  font-weight: bold;
}

.foot {
  color: rgb(61, 84, 92);
  text-align: left;
}

.row {
  width: 70px;
  display: block;
  margin: 0 auto;
}

#fahrenheit-temperature, 
#celsius-temperature, 
.active { 
  color: rgb(220, 240, 247);
  cursor: default;
}


#fahrenheit-temperature,
#celsius-temperature, 
.active:hover {
  text-decoration: none;
}
